<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Envio de Log - Proyecto UCC Logs
	Generator</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p th:text="${name}">Hola, Lucianita!</p>
	<p>Ante todo, muchísimas gracias por tu colaboración y apoyo para
		esta iniciativa.</p>
	<p>
		Por tanto, has recibido un correo electrónico con el archivo del log que solicitaste a través de la página de <a
			href="http://ucclogsgenerator.herokuapp.com/"><b>UCC Logs
				Generator</b></a><br>
	</p>
	<p>El log generado contiene la información relacionada con los siguientes temas
		de interés seleccionados:</p>
	<ul th:remove="all-but-first">
		<li th:each="topic : ${topics}" th:text="${topic}">Bancos</li>
		<li>Gobierno</li>
		<li>Educación</li>
	</ul>
	<p>Puedes encontrar un archivo de log adjunto al final del correo.</p>
	<p>
		<img
			src="https://www.ucc.edu.co/_catalogs/masterpage/eResponsive/img/logo-ucc.png" />
	</p>
	<p>
		Muchos saludos, <br /> <em>Bertha González Fabra</em><br> <em>José
			Danilo Sánchez</em><br> <em>Equipo de trabajo de investigación UCC</em>
	</p>
</body>
</html>